<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mehdi.ejazi@gmail.com">
        <!-- Default Port is [25] -->
        <!-- Specific Port for Gmail is [587] NOT!!! [995] 465-->
        <network defaultCredentials="false" host="smtp.gmail.com" userName="???@gmail.com" password="" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>